<div class="navbar-home" data-controller="hover">
  <%= link_to root_path(language: @language) do %>
    <%= image_tag "logo.png", class: "logo",
      data: {action: "mouseover->hover#color mouseout->hover#decolor",
      color: "#{image_path "logo_animated_en.png"}", 
      bw: "#{image_path "logo.png"}"}  %>
  <% end %>

  <div class="navbar-menu">
    <div class="navbar-menu-items">
      <%= link_to illustrations_path(language: @language) do %>
        <%= image_tag "navbar_en/illustrations_#{current_page?(illustrations_path) ? "col" : "bw"}.png", class: "navbar-item navbar-illustration",
            data: {action: "#{current_page?(illustrations_path) ? "" : "mouseover->hover#color mouseout->hover#decolor"}",
            color: "#{image_path "navbar_en/illustrations_col.png"}", 
            bw: "#{image_path "navbar_en/illustrations_bw.png"}"} %>
      <% end %>

      <%#= image_tag "navbar_en/design_bw.png", class: "navbar-item",
          data: {action: "mouseover->hover#color mouseout->hover#decolor",
          color: "#{image_path "navbar_en/design_col.png"}", 
          bw: "#{image_path "navbar_en/design_bw.png"}"} %>
      <%#= image_tag "navbar_en/websites_bw.png", class: "navbar-item",
          data: {action: "mouseover->hover#color mouseout->hover#decolor",
          color: "#{image_path "navbar_en/websites_col.png"}", 
          bw: "#{image_path "navbar_en/websites_bw.png"}"} %>
      <%#= image_tag "navbar_en/shop_bw.png", class: "navbar-item",
          data: {action: "mouseover->hover#color mouseout->hover#decolor",
          color: "#{image_path "navbar_en/shop_col.png"}", 
          bw: "#{image_path "navbar_en/shop_bw.png"}"} %>
      <%= link_to about_path(language: @language) do %>
        <%= image_tag "navbar_en/about_#{current_page?(about_path) ? "col" : "bw"}.png", class: "navbar-item",
            data: {action: "mouseover->hover#color mouseout->hover#decolor",
            color: "#{image_path "navbar_en/about_col.png"}", 
            bw: "#{image_path "navbar_en/about_bw.png"}"} %>
      <% end %>

      <%#= link_to contact_path(language: @language) do %>
        <%#= image_tag "navbar_en/contact_#{current_page?(contact_path) ? "col" : "bw"}.png", class: "navbar-item",
            data: {action: "mouseover->hover#color mouseout->hover#decolor",
            color: "#{image_path "navbar_en/contact_col.png"}", 
            bw: "#{image_path "navbar_en/contact_bw.png"}"} %>
      <%# end %>
    </div>
      
    <div class="navbar-icons">
      <%= image_tag "icons/star.png", class: "navbar-star" %>

      <%= link_to "https://www.instagram.com/camillustrate", target: "_blank" do %>
        <%= image_tag "icons/instagram_bw.png", class: "navbar-icon", data: {action: "mouseover->hover#color mouseout->hover#decolor",
        color: "#{image_path "icons/instagram_col.png"}", 
        bw: "#{image_path "icons/instagram_bw.png"}"} %>
      <% end %>

      <%= image_tag "icons/star.png", class: "navbar-star" %>

      <%= mail_to "cmodena95@gmail.com" do %>
        <%= image_tag "icons/email_bw.png", class: "navbar-icon", data: {action: "mouseover->hover#color mouseout->hover#decolor",
        color: "#{image_path "icons/email_col.png"}", 
        bw: "#{image_path "icons/email_bw.png"}"} %>
      <% end %>

      <%= image_tag "icons/star.png", class: "navbar-star" %>
    </div>
  </div>
</div>