<div class="about-top">
  <%= image_tag "about/about_photo.png", class: "about-photo" %>

  <% if @language == "en" %>
    <div class="about-text">
      <div>
        <%= image_tag "about/about_en.png", class: "about-title" %>
      </div>
      <p>
        I'm an illustrator and web development teacher. I'm Brazilian but grew up in England. My identity crisis as the English cousin in Brazil but the Brazilian friend in England eventually took me to live in Spain, where I'm just another person 'not from here'.
      </p>

      <br>

      <p>
        I've been drawing my entire life but only realised after being approached to illustrate a <%= link_to "children's book", books_path(language: @language) %> for the charity Learn Achieve Become that art could have a purpose. Soon after, I learned to code and decided to see how I could combine these two things.
      </p>
    </div>
  <% end %>

  <% if @language == "pt" %>
    <div class="about-text">
      <div>
        <%= image_tag "about/about_pt.png", class: "about-title" %>
      </div>
      <p>
        Sou ilustradora e professora de programação. Sou brasileira mas cresci na Inglaterra. Minha crise de identidade como a prima inglesa no Brasil mas a amiga brasileira na Inglaterra acabou me levando a morar aqui na Espanha, onde sou apenas mais uma pessoa 'não daqui'.
      </p>

      <br>

      <p>
        Desenho desde criança, mas só percebi que a arte poderia ter um propósito depois de ser abordada para ilustrar um <%= link_to "livro infantil", books_path(language: @language) %> para a ONG Learn Achieve Become. Logo depois, aprendi a programar e decidi ver como poderia combinar as duas coisas.
      </p>
    </div>
  <% end %>

  <% if @language == "es" %>
    <div class="about-text">
      <div>
        <%= image_tag "about/about_es.png", class: "about-title" %>
      </div>
      <p>
        Soy ilustradora y professora de programación. Soy brasileña pero crecí en Inglaterra. Mi crise de identidad como la prima inglesa en Brasil pero la amiga brasileña en Inglaterra me acabó llevandome a vivir aquí en españa, donde soy simplemente una persona más 'no de aquí'.
      </p>

      <br>

      <p>
        Dibujo desde niña, pero sólo me di cuenta de que el arte podía tener un propósito cuande me propusieron ilustrar un <%= link_to "libro infantil", books_path(language: @language) %> para la ONG Learn Achieve Become. Poco después, aprendí a programar y me puse a explorar como poría mezclar ambas cosas.
      </p>
    </div>
  <% end %>
</div>

<div class="about-bottom">
  <% if @language == "en" %>
    <p>
      Aside from drawing and coding, I spend most of my time listening to cumbia or podcasts about the GDR, imagining what my dog's accent would be like if he could talk, and saving videos of other people making recipes on the internet, despite knowing full well I'll never make them.
    </p>

    <br>

    <p>
      For all types of work, including websites, illustrations, comics or books, animations and tattoo designs, get in touch using the links on the left :)
    </p>
  <% end %>

  <% if @language == "es" %>
    <p>
      Aparte de dibujar y programar, paso la mayor parte de mi tiempo escuchando cumbia o podcasts sobre alemania oriental, imaginando cómo sería el acento de mi perro si pudiera hablar y guardando vídeos de otras personas cocinando recetas en online sabiendo muy bien que nunca las haré.
    </p>

    <br>

    <p>
      Para cualquier tipo de trabajo, incluyendo webs, ilustraciones, comics o libros, animaciónes y diseños de tatuajes, ponte en contacto conmigo a través de los links de la izquierda :)
    </p>
  <% end %>

  <% if @language == "pt" %>
    <p>
      Além de desenhar e programar, passo a maioria do meu tempo ouvindou cumbia ou podcasts sobre a Alemanha Oriental, imaginando como seria o sotaque do meu cachorro se ele pudesse falar, e salvando vídeos de outras pessas fazendo receitas que eu também quero fazer, mas sabendo que nunca as farei.
    </p>

    <br>

    <p>
      Para qualquer tipo de trabalho, including sites, ilustrações, histórias em quadrinhos ou livros, animações e desenhos de tatuagem, entre em contato através dos links no lado esquerdo :)
    </p>
  <% end %>
</div>