<div data-controller="parallax-tablet">
  <div class="banner-container">
    <div class="header-container">
      <%= image_tag "header.png", id: "tablet", class: "header", data: {parallax_tablet_target: "header"} %>
    </div>

    <div class="banner" id="tablet" data-action="scroll@window->parallax-tablet#move">

      <%= image_tag "https://res.cloudinary.com/cmodena95/image/upload/v1707330374/mountain_b2dn8j.png", class: "mountain", id: "tablet", data: {parallax_tablet_target: "mountain"} %>
      <div class="banner-bg">
        <%= image_tag "sun.png", id: "tablet", class: "sun", data: {parallax_tablet_target: "sun"} %>
        <%= image_tag "https://res.cloudinary.com/cmodena95/image/upload/v1707330557/tree_j0olnd.png", id: "tablet", class: "tree", data: {parallax_tablet_target: "tree"} %>
        <%= image_tag "https://res.cloudinary.com/cmodena95/image/upload/v1707330653/houses_bce5od.png", id: "tablet", class: "houses", data: {parallax_tablet_target: "houses"} %>
      </div>
    </div>
  </div>

  <div class="home-tablet">
    <div class="objects-tablet">
      <%= image_tag "home_objects/guava.png", class: "guava-tablet", data: {parallax_tablet_target: "guava"} %>
      <%= image_tag "home_objects/pizza.png", class: "pizza-tablet", data: {parallax_tablet_target: "pizza"} %>
    </div>

    <div class="home-menu" data-controller="hover" id="tablet">
      <div style="display: flex; align-items: center;">
        <%= image_tag "icons/star.png", class: "footer-star" %>
        <%= link_to illustrations_path(language: @language) do %>
          <%= image_tag "menu_#{@language}/illustrations_#{@language}_bw.png", class: "menu-item-tablet", id: "illustrations", data: {
            action: "mouseover->hover#color mouseout->hover#decolor",
            color: "#{image_path "menu_#{@language}/illustrations_#{@language}_col.png"}",
            bw: "#{image_path "menu_#{@language}/illustrations_#{@language}_bw.png"}"} %>
        <% end %>
        <%= image_tag "icons/star.png", class: "footer-star" %>
      </div>


      <div class="home-menu-level-2<%= @language == "en"  ? "" : "-es-pt" %>" style="display: flex; align-items: center;" id="tablet">
      <%= image_tag "icons/star.png", class: "footer-star" %>

        <%= link_to books_path(language: @language) do %>
          <%= image_tag "menu_#{@language}/books_#{@language}_bw.png", class: "menu-item-tablet", data: {
            action: "mouseover->hover#color mouseout->hover#decolor",
            color: "#{image_path "menu_#{@language}/books_#{@language}_col.png"}",
            bw: "#{image_path "menu_#{@language}/books_#{@language}_bw.png"}"} %>
        <% end %>

        <%= image_tag "icons/star.png", class: "footer-star" %>

        <%= link_to about_path(language: @language) do %>
          <%= image_tag "menu_#{@language}/about_#{@language}_bw.png", class: "menu-item-tablet", data: {action: "mouseover->hover#color mouseout->hover#decolor",
          color: "#{image_path "menu_#{@language}/about_#{@language}_col.png"}",
          bw: "#{image_path "menu_#{@language}/about_#{@language}_bw.png"}"} %>
        <% end %>

        <%= image_tag "icons/star.png", class: "footer-star" %>
      </div>

      <div style="display: flex; align-items: center;">
        <%= image_tag "icons/star.png", class: "footer-star" %>
        <%= mail_to "cmodena95@gmail.com" do %>
          <%= image_tag "menu_#{@language}/contact_#{@language}_bw.png", class: "menu-item-tablet", data: {action: "mouseover->hover#color mouseout->hover#decolor",
          color: "#{image_path "menu_#{@language}/contact_#{@language}_col.png"}", 
          bw: "#{image_path "menu_#{@language}/contact_#{@language}_bw.png"}"} %>
        <% end %>
        <%= image_tag "icons/star.png", class: "footer-star" %>
      </div>
    </div>

    <div class="objects-tablet">
      <%= image_tag "home_objects/sushi.png", class: "sushi-tablet", data: {parallax_tablet_target: "sushi"} %>
      <%= image_tag "home_objects/statue.png", class: "statue-tablet", data: {parallax_tablet_target: "statue"} %>
      <%= image_tag "home_objects/swan.png", class: "swan-tablet", data: {parallax_tablet_target: "swan"} %>
    </div>
  </div>
</div>


<%# footer %>
<div class="footer" id="tablet" data-controller="hover">
  <div class="footer-icons">
    <%= image_tag "icons/star.png", class: "footer-star" %>

    <%= link_to "https://www.instagram.com/camillustrate", target: "_blank" do %>
      <%= image_tag "icons/instagram_bw.png", class: "footer-icon", data: {action: "mouseover->hover#color mouseout->hover#decolor",
      color: "#{image_path "icons/instagram_col.png"}", 
      bw: "#{image_path "icons/instagram_bw.png"}"} %>
    <% end %>

    <%= image_tag "icons/star.png", class: "footer-star" %>

    <%= mail_to "cmodena95@gmail.com" do %>
      <%= image_tag "icons/email_bw.png", class: "footer-icon", data: {action: "mouseover->hover#color mouseout->hover#decolor",
      color: "#{image_path "icons/email_col.png"}", 
      bw: "#{image_path "icons/email_bw.png"}"} %>
    <% end %>

    <%= image_tag "icons/star.png", class: "footer-star" %>
  </div>
</div>