<div data-controller="parallax">
  <div class="banner" data-action="scroll@window->parallax#move">
    <%= image_tag "mountain.png", class: "mountain", data: {parallax_target: "mountain"} %>
    <div class="banner-bg">
      <%= image_tag "sun.png", class: "sun", data: {parallax_target: "sun"} %>

      <%#= image_tag "shark.png", class: "shark", data: {parallax_target: "shark"} %>
      <%= image_tag "tree.png", class: "tree", data: {parallax_target: "tree"} %>
      <%= image_tag "houses.png", class: "houses", data: {parallax_target: "houses"} %>
    </div>
  </div>

  <div class="home">
    <div class="home-objects-left">
      <%= image_tag "home_objects/guava.png", class: "guava", data: {parallax_target: "guava"} %>
      <%= image_tag "home_objects/pizza.png", class: "pizza", data: {parallax_target: "pizza"} %>
      <%= image_tag "home_objects/swan.png", class: "swan", data: {parallax_target: "swan"} %>
    </div>

    <div class="home-menu" data-controller="hover">
      <%= link_to illustrations_path(language: @language), class: "menu-illustrations menu-item" do %>
        <%= image_tag "menu_#{@language}/illustrations_#{@language}_bw.png", data: {
          action: "mouseover->hover#color mouseout->hover#decolor",
          color: "#{image_path "menu_#{@language}/illustrations_#{@language}_col.png"}",
          bw: "#{image_path "menu_#{@language}/illustrations_#{@language}_bw.png"}"} %>
      <% end %>

      <%= image_tag "menu_#{@language}/design_#{@language}_bw.png", class: "menu-design", id: "design-#{@language}", data: {action: "mouseover->hover#color mouseout->hover#decolor",
      color: "#{image_path "menu_#{@language}/design_#{@language}_col.png"}",
      bw: "#{image_path "menu_#{@language}/design_#{@language}_bw.png"}"} %>

      <%= image_tag "menu_#{@language}/websites_#{@language}_bw.png", class: "menu-websites", id: "websites-#{@language}", data: {action: "mouseover->hover#color mouseout->hover#decolor",
      color: "#{image_path "menu_#{@language}/websites_#{@language}_col.png"}",
      bw: "#{image_path "menu_#{@language}/websites_#{@language}_bw.png"}"} %>

      <%= image_tag "menu_#{@language}/about_#{@language}_bw.png", class: "menu-about", id: "about-#{@language}", data: {action: "mouseover->hover#color mouseout->hover#decolor",
      color: "#{image_path "menu_#{@language}/about_#{@language}_col.png"}",
      bw: "#{image_path "menu_#{@language}/about_#{@language}_bw.png"}"} %>

      <%= image_tag "menu_#{@language}/contact_#{@language}_bw.png", class: "menu-contact", id: "contact-#{@language}", data: {action: "mouseover->hover#color mouseout->hover#decolor",
      color: "#{image_path "menu_#{@language}/contact_#{@language}_col.png"}", 
      bw: "#{image_path "menu_#{@language}/contact_#{@language}_bw.png"}"} %>

      <%= image_tag "menu_#{@language}/shop_#{@language}_bw.png", class: "menu-shop", id: "shop-#{@language}", data: {
        action: "mouseover->hover#color mouseout->hover#decolor",
        color: "#{image_path "menu_#{@language}/shop_#{@language}_col.png"}",
        bw: "#{image_path "menu_#{@language}/shop_#{@language}_bw.png"}"} %>
    </div>

    <div class="home-objects-right">
      <%= image_tag "home_objects/sushi.png", class: "sushi", data: {parallax_target: "sushi"} %>
      <%= image_tag "home_objects/statue.png", class: "statue", data: {parallax_target: "statue"} %>
    </div>
  </div>
</div>