<!DOCTYPE html>
<html>
  <head>
    <title>Camila Modena</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless browser.device.mobile? %>
      <%= render "shared/languages" %>
    <% end %>

    <% if browser.device.mobile? %>
      <div class="layout-mobile">
        <% unless current_page?(root_path) || current_page?(new_user_session_path) %>
          <%= render "shared/navbar_mobile" %>
        <% end %>
        <%= yield %>
      </div>
    <% end %>

    <% unless current_page?(root_path) || current_page?(new_user_session_path) || browser.device.mobile? %>
      <div class="layout">
        <%= render "shared/navbar" %>
        <div style="width: 100%;">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <% unless browser.device.mobile? %>
        <%= yield %>
      <% end %>
    <% end %>

    <% if current_page?(about_path) %>
      <%= image_tag "about/footer.png", class: "#{ browser.device.mobile? ? "about-footer-mobile" :  "about-footer" }" %>
    <% elsif current_page?(books_path) %>
      <div class="<%= browser.device.mobile? ? "fish-footer-mobile" :  "fish-footer" %>">
        <%= image_tag "books/the_fish_in_the_sea/fish.png" %>
      </div>
    <% end %>
  </body>
</html>
